@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto';
}
#principal{
    display: grid;
    grid-template-columns: repeat(4, calc(290px*.9));
    grid-template-rows: repeat(1,1fr);
    column-gap: 10px;
    justify-content: center;
}
@media only screen and (max-width:1110px){
    #principal{
        column-gap: 0px;
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        text-align: left;
        justify-content: space-around;
    }
    #principal>div{
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 0px 10px;
        flex: 1 1 240px;
        padding: 20px;
        text-align: left;
    }
}

#principal>div{
    background-color: rgba(165, 154, 154, 0.7);
}
#principal>div>h4{
    text-align: center;
}
.cartas-user{
    width: calc(76px*.9);
    margin-left: 5px;
    margin-right: 5px;
}
.dclasscartas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hide-img{
    visibility: hidden;
}